 .container{
    border: 0.2rem solid black;
    background-color: white;
    width: 80%;
    
    
 }

 span{
   font-size: 1.2rem;
   font-weight: bold;
 }
 

 .haut{
    border-bottom: 1px solid black;
 }
 .borde{
    border-left: 1px solid black;
 }

 .indent{
    word-spacing: 1rem;
    margin-left: 15px;
 }

 p{
    margin-left: 15px;
 }

 button{
   width: 125px;
   margin-left: 15px;
   height: 40px;
 }