<div class="container m-5 ">
    
       
       <div class="row">
        <div class="col-md-2 btn text-center card mt-3 " routerLink="listeextrait">extrait </div>
        <div class="col-md-2 btn text-center card mt-3" routerLink="listeresidence">residence</div>
        <div class="col-md-2 btn text-center card mt-3" routerLink="/dece" >Dece</div>
        <div class="col-md-2 btn text-center card mt-3" routerLink="/mariage">Mariage</div>
        <div class="col-md-2 btn text-center card mt-3" routerLink="/divorce">Divorce</div>
        <div class="col-md-1"></div>
   
       </div>
</div>


