.link{
    width: 80px;
    height: 40px;
    background-color: rgb(167, 167, 17);
    color: white;
    margin-top: 5px;
   margin-left: 22px;
}

tr{
    height: 50px;
    border: 1px solid;

}

td{
    border: 1px solid;
    text-align: center;
    
}

th{
    text-align: center;
    border: 1px solid;
}